Repository Ninja-Squad/rare-basket: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, deploy-to-beta, deploy-to-staging, deploy-to-prod

build-docker:
  stage: test
  tags:
  - openstack
  image: docker:20.10.8
  services:
  - docker:20.10.8-dind
  script:
  - if [ "${CI_COMMIT_REF_SLUG}" == "master" ] ; then TAG=latest ; else TAG=$CI_COMMIT_REF_SLUG ; fi ;
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

deploy-to-beta:
  variables:
    ENV: beta
    APP_PORT: ${PORT_BETA}
    APP_CONTEXT: ${APP_NAME}-${ENV}
    SERVER_IP: ${SERVER_IP_DEV}
  tags:
  - openstack
  retry: 1
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-to-staging:
  variables:
    ENV: staging
    APP_PORT: ${PORT_STAGING}
    APP_CONTEXT: ${APP_NAME}-${ENV}
    SERVER_IP: ${SERVER_IP_DEV}
  tags:
  - openstack
  retry: 1
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-to-prod:
  variables:
    ENV: prod
    APP_PORT: ${PORT_PROD}
    APP_CONTEXT: ${APP_NAME}
    SERVER_IP: ${SERVER_IP_PROD}
  tags:
  - openstack
  retry: 1
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

chore: use java 17 in docker image
  Dockerfile
  README.md
Due: none

chore: make docker image build at a 1st stage for being used later
  .gitlab-ci.yml
Due: build-docker, deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: use node v18 and npm v8
  frontend/build.gradle.kts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: bump typescript-eslint dependency
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

Build image on each job with the branch name as tag
  .gitlab-ci.yml
Due: build-docker, deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: lockfile updates
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: enable renovate for the backend as well
  .github/renovate.json5
Due: none

chore: ignore cimg/openjdk in renovate
  .github/renovate.json5
Due: none

chore: set image tags in docker-compose
  docker-compose.yml
Due: none

Remove CI cache for tests. SYS-1374
  .gitlab-ci.yml
Due: build-docker, deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: increase playwright timeout for gitlab ci
  frontend/playwright.config.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

refactor: use json instead of body in e2e routes
  frontend/e2e/orders.spec.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: bump to ng and cli v16.2
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

fix: keycloak config in dev
  docker-compose.yml
Due: none

test: use real keycloak in e2e tests
  .circleci/config.yml
  backend/README.md
  doc/authentication.md
  frontend/angular.json
  frontend/e2e/README.md
  frontend/e2e/home.spec.ts
  frontend/e2e/orders.spec.ts
  frontend/e2e/utils.ts
  frontend/src/app/shared/authentication-e2e.service.ts
  frontend/src/environments/environment.e2e.ts
  keycloak/rare-basket-realm.json
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

feat: multiple accession holders per user
  backend/database/testing/testing-data.sql
  backend/src/main/java/fr/inra/urgi/rarebasket/config/SecurityConfig.java
  backend/src/main/java/fr/inra/urgi/rarebasket/dao/OrderDao.java
  backend/src/main/java/fr/inra/urgi/rarebasket/dao/UserDao.java
  backend/src/main/java/fr/inra/urgi/rarebasket/domain/User.java
  backend/src/main/java/fr/inra/urgi/rarebasket/service/user/CurrentUser.java
  backend/src/main/java/fr/inra/urgi/rarebasket/web/order/OrderController.java
  backend/src/main/java/fr/inra/urgi/rarebasket/web/order/OrderCreationCommandDTO.java
  backend/src/main/java/fr/inra/urgi/rarebasket/web/user/UserCommandDTO.java
  backend/src/main/java/fr/inra/urgi/rarebasket/web/user/UserController.java
  backend/src/main/java/fr/inra/urgi/rarebasket/web/user/UserDTO.java
  backend/src/main/resources/db/migration/V0002__multiple-accession-holders.sql
  backend/src/test/java/fr/inra/urgi/rarebasket/dao/BaseDaoTest.java
  backend/src/test/java/fr/inra/urgi/rarebasket/dao/OrderDaoTest.java
  backend/src/test/java/fr/inra/urgi/rarebasket/dao/UserDaoTest.java
  backend/src/test/java/fr/inra/urgi/rarebasket/service/user/CurrentUserTest.java
  backend/src/test/java/fr/inra/urgi/rarebasket/web/accessionholder/AccessionHolderControllerTest.java
  backend/src/test/java/fr/inra/urgi/rarebasket/web/grc/GrcControllerTest.java
  backend/src/test/java/fr/inra/urgi/rarebasket/web/order/OrderControllerTest.java
  backend/src/test/java/fr/inra/urgi/rarebasket/web/user/UserControllerTest.java
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/order/create-order/create-order.component.html
  frontend/src/app/order/create-order/create-order.component.spec.ts
  frontend/src/app/order/create-order/create-order.component.ts
  frontend/src/app/order/edit-customer-information/edit-customer-information.component.html
  frontend/src/app/order/edit-customer-information/edit-customer-information.component.spec.ts
  frontend/src/app/order/edit-customer-information/edit-customer-information.component.ts
  frontend/src/app/order/order.model.ts
  frontend/src/app/order/order.service.ts
  frontend/src/app/order/order/order.component.html
  frontend/src/app/shared/authentication-e2e.service.ts
  frontend/src/app/shared/user.model.ts
  frontend/src/app/user/edit-user/edit-user.component.html
  frontend/src/app/user/edit-user/edit-user.component.spec.ts
  frontend/src/app/user/edit-user/edit-user.component.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

fix: fix flyway migration for users without accessioon holder
  backend/src/main/resources/db/migration/V0002__multiple-accession-holders.sql
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

feat: display the accession holder in orders
  backend/src/main/java/fr/inra/urgi/rarebasket/web/accessionholder/AccessionHolderLightDTO.java
  backend/src/main/java/fr/inra/urgi/rarebasket/web/order/OrderDTO.java
  backend/src/test/java/fr/inra/urgi/rarebasket/web/order/OrderControllerTest.java
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/order/order.model.ts
  frontend/src/app/order/order/order.component.html
  frontend/src/app/order/order/order.component.spec.ts
  frontend/src/app/order/orders/orders.component.html
  frontend/src/app/order/orders/orders.component.spec.ts
  frontend/src/app/shared/error.interceptor.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

feat: allow filtering orders by accession holder
  backend/src/main/java/fr/inra/urgi/rarebasket/web/order/OrderController.java
  backend/src/test/java/fr/inra/urgi/rarebasket/web/order/OrderControllerTest.java
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/order/done-orders/done-orders.component.html
  frontend/src/app/order/done-orders/done-orders.component.spec.ts
  frontend/src/app/order/done-orders/done-orders.component.ts
  frontend/src/app/order/in-progress-orders/in-progress-orders.component.html
  frontend/src/app/order/in-progress-orders/in-progress-orders.component.spec.ts
  frontend/src/app/order/in-progress-orders/in-progress-orders.component.ts
  frontend/src/app/order/order-list.service.ts
  frontend/src/app/order/order.service.spec.ts
  frontend/src/app/order/order.service.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

doc: document the order list service
  backend/src/main/java/fr/inra/urgi/rarebasket/web/order/OrderController.java
  frontend/src/app/order/order-list.service.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: upgrade to Angular and CLI 17.x
  frontend/angular.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: use the application builder
  backend/build.gradle.kts
  frontend/angular.json
  frontend/src/app/home/home.component.scss
  frontend/src/media/README.md
  frontend/src/media/background.jpg
  frontend/tsconfig.json
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

fix: fix the i18n loader (and rename it)
  frontend/src/app/i18n/i18n.ts
  frontend/src/app/i18n/module-translate-loader.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: upgrade ng-bootstrap
  frontend/package.json
  frontend/src/app/navbar/navbar.component.ts
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

refactor: use styleUrl instead of styleUrls
  frontend/src/app/accession-holder/accession-holders/accession-holders.component.ts
  frontend/src/app/accession-holder/edit-accession-holder/edit-accession-holder.component.ts
  frontend/src/app/app.component.ts
  frontend/src/app/basket/basket-confirmation/basket-confirmation.component.ts
  frontend/src/app/basket/basket-content/basket-content.component.ts
  frontend/src/app/basket/basket/basket.component.ts
  frontend/src/app/basket/confirmed/confirmed.component.ts
  frontend/src/app/basket/edit-basket/edit-basket.component.ts
  frontend/src/app/basket/edit-confirmation/edit-confirmation.component.ts
  frontend/src/app/chart/chart/chart.component.ts
  frontend/src/app/grc/edit-grc/edit-grc.component.ts
  frontend/src/app/grc/grcs/grcs.component.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/navbar/navbar.component.ts
  frontend/src/app/order/create-order/create-order.component.ts
  frontend/src/app/order/csv-modal/csv-modal.component.ts
  frontend/src/app/order/done-orders/done-orders.component.ts
  frontend/src/app/order/edit-customer-information/edit-customer-information.component.ts
  frontend/src/app/order/edit-document/edit-document.component.ts
  frontend/src/app/order/edit-order/edit-order.component.ts
  frontend/src/app/order/export-orders/export-orders.component.ts
  frontend/src/app/order/finalization-warnings-modal/finalization-warnings-modal.component.ts
  frontend/src/app/order/in-progress-orders/in-progress-orders.component.ts
  frontend/src/app/order/order/order.component.ts
  frontend/src/app/order/orders-container/orders-container.component.ts
  frontend/src/app/order/orders/orders.component.ts
  frontend/src/app/order/statistics/statistics.component.ts
  frontend/src/app/rb-ngb/pagination/pagination.component.ts
  frontend/src/app/rb-ngb/toasts/toasts.component.ts
  frontend/src/app/shared/accession/accession.component.ts
  frontend/src/app/shared/confirmation-modal/confirmation-modal.component.ts
  frontend/src/app/shared/customer-information/customer-information.component.ts
  frontend/src/app/user/edit-user/edit-user.component.ts
  frontend/src/app/user/users/users.component.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

feat: use view transition
  frontend/src/main.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

Path conditions:
  build-docker: any of: .gitlab-ci.yml, DockerFile
  deploy-to-beta: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-to-staging: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-to-prod: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
