Repository Ninja-Squad/rare-basket: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, deploy-to-beta, deploy-to-staging, deploy-to-prod

build-docker:
  stage: test
  tags:
  - openstack
  image: docker:20.10.8
  services:
  - docker:20.10.8-dind
  script:
  - if [ "${CI_COMMIT_REF_SLUG}" == "master" ] ; then TAG=latest ; else TAG=$CI_COMMIT_REF_SLUG ; fi ;
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

deploy-to-beta:
  variables:
    ENV: beta
    APP_PORT: ${PORT_BETA}
    APP_CONTEXT: ${APP_NAME}-${ENV}
    SERVER_IP: ${SERVER_IP_DEV}
  tags:
  - openstack
  retry: 1
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-to-staging:
  variables:
    ENV: staging
    APP_PORT: ${PORT_STAGING}
    APP_CONTEXT: ${APP_NAME}-${ENV}
    SERVER_IP: ${SERVER_IP_DEV}
  tags:
  - openstack
  retry: 1
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-to-prod:
  variables:
    ENV: prod
    APP_PORT: ${PORT_PROD}
    APP_CONTEXT: ${APP_NAME}
    SERVER_IP: ${SERVER_IP_PROD}
  tags:
  - openstack
  retry: 1
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

Remove useless staging env for rare-basket.
  .gitlab-ci.yml
Due: build-docker, deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: upgrade to spring boot 2.7.4
  settings.gradle.kts
Due: none

chore: upgrade to gradle 7.5.1
  gradle/wrapper/gradle-wrapper.properties
Due: none

chore: upgrade the gradle node plugin
  settings.gradle.kts
Due: none

chore: fix a deprecation warning
  backend/src/main/java/fr/inra/urgi/rarebasket/web/order/OrderController.java
  backend/src/test/java/fr/inra/urgi/rarebasket/web/order/OrderControllerTest.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: upgrade flyway gradle plugin
  settings.gradle.kts
Due: none

chore: upgrade postgres version
  backend/build.gradle.kts
Due: none

chore: upgrade itext version
  backend/build.gradle.kts
Due: none

chore: fix deprecation issue
  backend/src/test/java/fr/inra/urgi/rarebasket/config/TestSecurityConfig.java
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

fix: fix router configuration issue and bug introduced by refactoring
  frontend/src/app/order/order.routes.ts
  frontend/src/app/order/statistics/statistics.component.html
  frontend/src/app/order/statistics/statistics.component.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: upgrade spring cloud
  backend/build.gradle.kts
Due: none

chore: upgrade node, npm and yarn
  frontend/build.gradle.kts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: remove deprecated tilde in scss imports
  frontend/src/common.scss
  frontend/src/custom-bootstrap.scss
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

tests: add playwright e2e tests
  frontend/.gitignore
  frontend/README.md
  frontend/angular.json
  frontend/build.gradle.kts
  frontend/e2e/README.md
  frontend/e2e/home.spec.ts
  frontend/e2e/orders.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/app/app.module.ts
  frontend/src/app/shared/authentication-config.service.ts
  frontend/src/app/shared/authentication-e2e.service.ts
  frontend/src/app/shared/authentication.service.ts
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: use playwright getByText
  frontend/e2e/orders.spec.ts
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: remove @types/node
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

feat: allow breaking the identifier of an accession in the middle
  frontend/src/app/shared/accession/accession.component.html
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: upgrade to Angular 15
  frontend/.browserslistrc
  frontend/package.json
  frontend/src/test.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: change way to handle polyfills
  frontend/angular.json
  frontend/src/main.ts
  frontend/src/polyfills.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.spec.json
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: enable stricter errors in tests
  frontend/src/test.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: format with prettier v2.8
  frontend/package.json
  frontend/src/app/order/order/order.component.html
  frontend/src/app/order/statistics/statistics.component.html
  frontend/src/app/user/edit-user/edit-user.component.html
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: use semantic messages for renovate
  .github/renovate.json5
Due: none

Path conditions:
  build-docker: any of: .gitlab-ci.yml, DockerFile
  deploy-to-beta: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-to-staging: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-to-prod: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
