Repository Ninja-Squad/rare-basket: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker, deploy-to-beta, deploy-to-staging, deploy-to-prod

build-docker:
  stage: test
  tags:
  - openstack
  image: docker:20.10.8
  services:
  - docker:20.10.8-dind
  script:
  - if [ "${CI_COMMIT_REF_SLUG}" == "master" ] ; then TAG=latest ; else TAG=$CI_COMMIT_REF_SLUG ; fi ;
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

deploy-to-beta:
  variables:
    ENV: beta
    APP_PORT: ${PORT_BETA}
    APP_CONTEXT: ${APP_NAME}-${ENV}
    SERVER_IP: ${SERVER_IP_DEV}
  tags:
  - openstack
  retry: 1
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-to-staging:
  variables:
    ENV: staging
    APP_PORT: ${PORT_STAGING}
    APP_CONTEXT: ${APP_NAME}-${ENV}
    SERVER_IP: ${SERVER_IP_DEV}
  tags:
  - openstack
  retry: 1
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

deploy-to-prod:
  variables:
    ENV: prod
    APP_PORT: ${PORT_PROD}
    APP_CONTEXT: ${APP_NAME}
    SERVER_IP: ${SERVER_IP_PROD}
  tags:
  - openstack
  retry: 1
  script:
  - eval $(ssh-agent -s)
  - ssh-add <(echo "${SSH_PRIVATE_KEY}")
  ...

Use Kaniko instead of DinD.
  .gitlab-ci.yml
Due: build-docker, deploy-to-beta, deploy-to-staging, deploy-to-prod

Force latest tag temporary.
  .gitlab-ci.yml
Due: build-docker, deploy-to-beta, deploy-to-staging, deploy-to-prod

Use crafted docker image, remove now useless apt-update in test job
  .gitlab-ci.yml
Due: build-docker, deploy-to-beta, deploy-to-staging, deploy-to-prod

Use vanilla mkdir instead of mkdirp.
  frontend/package.json
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: upgrade gradle, boot, keycloak, cloud
  backend/build.gradle.kts
  backend/database/setup/setup.sh
  backend/src/main/java/fr/inra/urgi/rarebasket/config/KeycloakResolverConfig.java
  backend/src/main/java/fr/inra/urgi/rarebasket/config/SecurityConfig.java
  backend/src/main/resources/application.yml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle.kts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: upgrade all frontend dependencies, improve specs, migrate oidc-client code
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/package.json
  frontend/src/app/accession-holder/accession-holders/accession-holders.component.spec.ts
  frontend/src/app/accession-holder/edit-accession-holder/edit-accession-holder.component.spec.ts
  frontend/src/app/app.component.spec.ts
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/basket/basket-confirmation/basket-confirmation.component.spec.ts
  frontend/src/app/basket/basket/basket.component.spec.ts
  frontend/src/app/basket/edit-basket/edit-basket.component.spec.ts
  frontend/src/app/chart/chart/chart.component.spec.ts
  frontend/src/app/grc/edit-grc/edit-grc.component.spec.ts
  frontend/src/app/grc/grcs/grcs.component.spec.ts
  frontend/src/app/home/home.component.spec.ts
  frontend/src/app/navbar/navbar.component.spec.ts
  frontend/src/app/order/create-order/create-order.component.spec.ts
  frontend/src/app/order/csv-modal/csv-modal.component.spec.ts
  frontend/src/app/order/done-orders/done-orders.component.spec.ts
  frontend/src/app/order/edit-document/edit-document.component.spec.ts
  frontend/src/app/order/export-orders/export-orders.component.spec.ts
  frontend/src/app/order/finalization-warnings-modal/finalization-warnings-modal.component.spec.ts
  frontend/src/app/order/in-progress-orders/in-progress-orders.component.spec.ts
  frontend/src/app/order/order/order.component.spec.ts
  frontend/src/app/order/orders-container/orders-container.component.spec.ts
  frontend/src/app/order/orders/orders.component.spec.ts
  frontend/src/app/order/statistics/statistics.component.spec.ts
  frontend/src/app/rb-ngb/datepicker-container.component.spec.ts
  frontend/src/app/rb-ngb/mock-modal.service.spec.ts
  frontend/src/app/rb-ngb/pagination/pagination.component.spec.ts
  frontend/src/app/rb-ngb/toasts/toasts.component.spec.ts
  frontend/src/app/shared/authentication-interceptor.service.spec.ts
  frontend/src/app/shared/authentication-interceptor.service.ts
  frontend/src/app/shared/authentication.guard.spec.ts
  frontend/src/app/shared/authentication.service.spec.ts
  frontend/src/app/shared/authentication.service.ts
  frontend/src/app/shared/error-interceptor.service.spec.ts
  frontend/src/app/user/edit-user/edit-user.component.spec.ts
  frontend/src/app/user/users/users.component.spec.ts
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: upgrade gradle, boot, keycloak, cloud
  backend/build.gradle.kts
  backend/src/main/java/fr/inra/urgi/rarebasket/config/KeycloakResolverConfig.java
  backend/src/main/java/fr/inra/urgi/rarebasket/config/SecurityConfig.java
  backend/src/main/resources/application.yml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle.kts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: use node v16
  frontend/build.gradle.kts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: upgrade to Bootstrap 5
  frontend/package.json
  frontend/src/app/accession-holder/accession-holders/accession-holders.component.html
  frontend/src/app/accession-holder/edit-accession-holder/edit-accession-holder.component.html
  frontend/src/app/app.component.html
  frontend/src/app/basket/basket-confirmation/basket-confirmation.component.html
  frontend/src/app/basket/basket-content/basket-content.component.html
  frontend/src/app/basket/confirmed/confirmed.component.html
  frontend/src/app/basket/edit-basket/edit-basket.component.html
  frontend/src/app/basket/edit-confirmation/edit-confirmation.component.html
  frontend/src/app/grc/edit-grc/edit-grc.component.html
  frontend/src/app/grc/grcs/grcs.component.html
  frontend/src/app/home/home.component.html
  frontend/src/app/i18n/en.json
  frontend/src/app/i18n/fr.json
  frontend/src/app/navbar/navbar.component.html
  frontend/src/app/order/csv-modal/csv-modal.component.html
  frontend/src/app/order/edit-customer-information/edit-customer-information.component.html
  frontend/src/app/order/edit-document/edit-document.component.html
  frontend/src/app/order/edit-document/edit-document.component.scss
  frontend/src/app/order/edit-document/edit-document.component.spec.ts
  frontend/src/app/order/edit-order/edit-order.component.html
  frontend/src/app/order/export-orders/export-orders.component.html
  frontend/src/app/order/in-progress-orders/in-progress-orders.component.html
  frontend/src/app/order/order/order.component.html
  frontend/src/app/order/orders/orders.component.html
  frontend/src/app/order/statistics/statistics.component.html
  frontend/src/app/rb-ngb/datepicker-container.component.html
  frontend/src/app/rb-ngb/datepicker-container.component.spec.ts
  frontend/src/app/rb-ngb/toasts/toasts.component.html
  frontend/src/app/rb-ngb/toasts/toasts.component.scss
  frontend/src/app/rb-ngb/toasts/toasts.component.ts
  frontend/src/app/shared/customer-information/customer-information.component.html
  frontend/src/app/user/edit-user/edit-user.component.html
  frontend/src/app/user/users/users.component.html
  frontend/src/common.scss
  frontend/src/custom-bootstrap.scss
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: add speculoos matchers once and for all
  frontend/src/app/accession-holder/accession-holders/accession-holders.component.spec.ts
  frontend/src/app/accession-holder/edit-accession-holder/edit-accession-holder.component.spec.ts
  frontend/src/app/basket/basket-confirmation/basket-confirmation.component.spec.ts
  frontend/src/app/basket/basket-content/basket-content.component.spec.ts
  frontend/src/app/basket/basket/basket.component.spec.ts
  frontend/src/app/basket/confirmed/confirmed.component.spec.ts
  frontend/src/app/basket/edit-basket/edit-basket.component.spec.ts
  frontend/src/app/basket/edit-confirmation/edit-confirmation.component.spec.ts
  frontend/src/app/grc/edit-grc/edit-grc.component.spec.ts
  frontend/src/app/grc/grcs/grcs.component.spec.ts
  frontend/src/app/home/home.component.spec.ts
  frontend/src/app/navbar/navbar.component.spec.ts
  frontend/src/app/order/create-order/create-order.component.spec.ts
  frontend/src/app/order/csv-modal/csv-modal.component.spec.ts
  frontend/src/app/order/done-orders/done-orders.component.spec.ts
  frontend/src/app/order/edit-customer-information/edit-customer-information.component.spec.ts
  frontend/src/app/order/edit-document/edit-document.component.spec.ts
  frontend/src/app/order/edit-order/edit-order.component.spec.ts
  frontend/src/app/order/export-orders/export-orders.component.spec.ts
  frontend/src/app/order/finalization-warnings-modal/finalization-warnings-modal.component.spec.ts
  frontend/src/app/order/in-progress-orders/in-progress-orders.component.spec.ts
  frontend/src/app/order/order/order.component.spec.ts
  frontend/src/app/order/orders-container/orders-container.component.spec.ts
  frontend/src/app/order/orders/orders.component.spec.ts
  frontend/src/app/order/statistics/statistics.component.spec.ts
  frontend/src/app/rb-ngb/datepicker-container.component.spec.ts
  frontend/src/app/rb-ngb/pagination/pagination.component.spec.ts
  frontend/src/app/rb-ngb/router-nav.directive.spec.ts
  frontend/src/app/rb-ngb/toasts/toasts.component.spec.ts
  frontend/src/app/shared/customer-information/customer-information.component.spec.ts
  frontend/src/app/shared/form-control-validation.directive.spec.ts
  frontend/src/app/user/edit-user/edit-user.component.spec.ts
  frontend/src/app/user/users/users.component.spec.ts
  frontend/src/test.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: set up circleci
  .circleci/config.yml
Due: none

chore: frontend dependencies update
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: renovate config
  .github/renovate.json5
Due: none

fix(deps): update dependency @fortawesome/free-solid-svg-icons to v6
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

fix(deps): update angular monorepo to v13.2.6
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore(deps): update angular-cli monorepo to v13.2.6
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

fix(deps): update all non-major dependencies
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

fix(deps): update dependency @fortawesome/fontawesome-svg-core to v1.3.0
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: pin @fortawesome/fontawesome-common-types version to v0.2.36
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore(deps): update dependency @fortawesome/fontawesome-common-types to v0.3.0
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore(deps): update font awesome to v6
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: remove fortawesome resolution
  frontend/package.json
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: lockfile maintenance
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore(deps): update dependency @types/jasmine to v4
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: format with prettier v2.6.0
  frontend/src/app/shared/authentication.guard.spec.ts
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

chore: use ng and cli v13.3.0
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

fix(deps): update dependency @fortawesome/angular-fontawesome to v0.10.2
  frontend/package.json
  frontend/yarn.lock
Due: deploy-to-beta, deploy-to-staging, deploy-to-prod

fix: only mount setup.sql in docker compose
  docker-compose.yml
Due: none

Path conditions:
  build-docker: any of: .gitlab-ci.yml, DockerFile
  deploy-to-beta: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-to-staging: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
  deploy-to-prod: any of: backend/src/**/*, frontend/**/*, .gitlab-ci.yml
